---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const entries = (await getCollection('tutorials')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---
<BaseLayout title="Tutorials">
  <h1 class="mb-4">Tutorials</h1>
  <div class="row">
    {entries.map((entry) => (
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
                <a href={`/tutorials/${entry.slug}`} class="text-decoration-none text-dark">{entry.data.title}</a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">{entry.data.date.toLocaleDateString('de-DE')}</h6>
             {entry.data.tags && (
                <div class="mb-2">
                    {entry.data.tags.slice(0, 3).map((tag) => (
                    <span class="badge bg-light text-dark me-1 border">{tag}</span>
                    ))}
                </div>
            )}
            <p class="card-text text-truncate">{entry.data.description}</p>
            <a href={`/tutorials/${entry.slug}`} class="btn btn-primary btn-sm">Ansehen</a>
          </div>
        </div>
      </div>
    ))}
  </div>
</BaseLayout>
